<footer class='footer'>
    <div class='u-wrapper'>
        <div class='footer__inner'>
            <div class='footer__brand'>
                <a href='{{ site.baseurl }}/' class='jmap-logo'>
                    <div class='jmap-logo__mark'>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    JMAP
                </a>
                <p>An open internet standard replacing IMAP with a simpler, faster, and more capable protocol.</p>
            </div>
            <div class='footer__col'>
                <h3>Learn</h3>
                <ul>
                    <li><a href='{{ site.baseurl }}/why-jmap/'>Why JMAP?</a></li>
                    <li><a href='{{ site.baseurl }}/spec/'>Specifications</a></li>
                    <li><a href='{{ site.baseurl }}/spec-core/'>Core spec (RFC 8620)</a></li>
                    <li><a href='{{ site.baseurl }}/spec-mail/'>Mail spec (RFC 8621)</a></li>
                    <li><a href='{{ site.baseurl }}/client/'>Client guide</a></li>
                    <li><a href='{{ site.baseurl }}/server/'>Server guide</a></li>
                    <li><a href='{{ site.baseurl }}/crash-course/'>Crash course</a></li>
                </ul>
            </div>
            <div class='footer__col'>
                <h3>Implement</h3>
                <ul>
                    <li><a href='{{ site.baseurl }}/software/'>Software and Libraries</a></li>
                    <li>
                        <a href='https://www.rfc-editor.org/rfc/rfc8620' target='_blank' rel='noopener'
                            >RFC 8620{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                    <li>
                        <a href='https://www.rfc-editor.org/rfc/rfc8621' target='_blank' rel='noopener'
                            >RFC 8621{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                    <li>
                        <a href='https://github.com/jmapio/jmap' target='_blank' rel='noopener'
                            >GitHub{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                </ul>
            </div>
            <div class='footer__col'>
                <h3>Community</h3>
                <ul>
                    <li>
                        <a href='https://ietf.org' target='_blank' rel='noopener'
                            >IETF{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                    <li>
                        <a href='https://github.com/jmapio/jmap/issues' target='_blank' rel='noopener'
                            >Discussions{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                    <li>
                        <a href='https://www.fastmail.com' target='_blank' rel='noopener'
                            >Fastmail{% include icons/external-link.liquid -%}
                        </a>
                    </li>
                    <li>
                        <a href='/press/' target='_blank' rel='noopener'>Press</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class='footer__bottom'>
            <span>&copy; 2026 JMAP contributors. An open IETF standard. </span>
            <span>RFC 8620 &middot; RFC 8621 </span>
        </div>
    </div>
</footer>
