<section class='hero {{ include.class | default: 'hero--page' }}'>
    <div class='u-wrapper'>
        <p class='hero__eyebrow'>{{ include.eyebrow }}</p>
        <h1 class='hero__h1 u-text-3xl u-tracking-tight'>{{ include.title }}</h1>
        <p class='hero__sub'>{{ include.sub }}</p>
        {% if include.links %}
            <div class='hero__links'>
                {% for link in include.links %}
                    {% if link.href contains 'https://' %}
                        {% assign is_external = true %}
                    {% else %}
                        {% assign is_external = false %}
                    {% endif %}
                    <a
                        href='{{ link.href | relative_url }}'
                        class='hero__link button button--standard u-text-sm'
                        {%- if is_external -%}
                            target='_blank'
                        {%- endif -%}
                    >
                        <span class='button__label'>{{- link.label -}}</span>
                        {% if is_external %}
                            <span class='button__icon'>
                                {% include icons/external-link.liquid %}
                            </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
