<!doctype html>
<html
    lang='en'
    data-theme='dark'
    class='no-js'
>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes'>
        {% if jekyll.environment == 'preview' %}
            <meta name='robots' content='noindex, nofollow'>
        {% endif %}
        {% include font-face.liquid %}
        <link
            href='{{ site.baseurl }}/css/main.css?ts={{ site.time | date: '%s' }}'
            rel='stylesheet'
            type='text/css'
        >
        {% if layout.stylesheets %}
            {% for style in layout.stylesheets %}
                <link
                    href='{{ site.baseurl }}/css/{{ style }}.css?ts={{ site.time | date: '%s' }}'
                    rel='stylesheet'
                    type='text/css'
                >
            {% endfor %}
        {% endif %}
        {% if page.stylesheets %}
            {% for style in page.stylesheets %}
                <link
                    href='{{ site.baseurl }}/css/{{ style }}.css?ts={{ site.time | date: '%s' }}'
                    rel='stylesheet'
                    type='text/css'
                >
            {% endfor %}
        {% endif %}
        <script type='module' src='{{ site.baseurl }}/js/header.js?ts={{ site.time | date: '%s' }}'></script>
        <script type='module' src='{{ site.baseurl }}/js/prefetch.js?ts={{ site.time | date: '%s' }}'></script>
        {% if layout.scripts %}
            {% for script in layout.scripts %}
                <script
                    type='module'
                    src='{{ site.baseurl }}/js/{{ script }}.js?ts={{ site.time | date: '%s' }}'
                ></script>
            {% endfor %}
        {% endif %}
        {% if page.scripts %}
            {% for script in page.scripts %}
                <script
                    type='module'
                    src='{{ site.baseurl }}/js/{{ script }}.js?ts={{ site.time | date: '%s' }}'
                ></script>
            {% endfor %}
        {% endif %}
        <title>{{ page.title }}</title>
        <meta name='description' content='{{ page.description }}'>
    </head>
    <body>
        {% include theme-init.liquid %}
        {% include header.liquid %}
        <main>{{ content }}</main>
        {% include footer.liquid %}
        <script
            defer
            src='https://static.cloudflareinsights.com/beacon.min.js'
            data-cf-beacon='{"token": "5cafd4ae0400412b85e675f8296f7a36"}'
        ></script>
    </body>
</html>
